# Terraform

*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Python

venv/
**pycache**/
*.pyc

# Node

node_modules/

# IDE

.vscode/
.idea/

# OS

.DS_Store

# Logs

*.log

# iii

.quickstart/.iii/
